@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="text-center"><span class="glyphicon glyphicon-log-in" aria-hidden="true"> </span>Workhop - ASP.NET Core</h1>
        <h3 class="text-center">Matheus Barreto - .NET Software Developer</h3>
        
    </div>
    <hr class="m-y-md">
    <p>Não deixe de acompanhar gameplays no canal!</p>
    <p class="lead">
        <a class="btn btn-danger btn-lg" href="https://www.youtube.com/channel/UC5h5jeDsm8_tZRTREO-l6KA" role="button">Inscreva-se no Canal</a>
    </p>
</Div>
